.discover-page {
  padding: 30px;
}

.discover-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.discover-grid div {
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}
